.wrapper {
    display: flex;
    gap: var(--spacing-small);
    height: 100%;
}

.chart {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.chart canvas {
    max-height: 250px;
}

.barChartWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-medium);
}

.outer {
    flex: 1;
    padding: var(--spacing-small);
    border: 1.2px solid var(--border-colour);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-small);
}

.inner {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.labels {
    display: flex;
    gap: var(--spacing-small);
    justify-content: center;
}

.illustration {
    width: 80%;
}

@media screen and (max-width: 1024px) {
    .outer {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .outer {
        display: flex;
        height: min-content;
    }
    .mobileHeading {
        /* font-size: 1.4rem; */
        /* font-weight: 500; */
        /* max-width: 100%; */
    }
    .wrapper {
        height: 100%;
    }
    .chart {
        height: 100%;
    }
    .labels {
        flex-wrap: wrap;
        display: none;
    }
}