.wrapper {
    display: flex;
    gap: var(--spacing-medium);
}

.chart {
    max-height: 95%;
    overflow: hidden;
    width: 100%;
}

.outer {
    flex: 1;
    padding: var(--spacing-small);
    border: 1.2px solid var(--border-colour);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-small);
}