.wrapper {
    display: flex;
    gap: var(--spacing-small);
}

.chart {
    max-height: 250px;
    /* overflow: hidden; */
    /* width: 100%; */
}

.barChartWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-medium);
}

.outer {
    flex: 1;
    padding: var(--spacing-small);
    border: 1.2px solid var(--border-colour);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-small);
}

.labels {
    display: flex;
    gap: var(--spacing-small);
    justify-content: center;
}

@media screen and (max-width: 1024px) {
    .outer {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .outer {
        display: flex;
        height: min-content;
    }
    .mobileHeading {
        font-size: 1.4rem;
        font-weight: 500;
        max-width: 100%;
    }
    .chart {
        max-height: unset;
        max-width: 90vw;
    }
    .labels {
        flex-wrap: wrap;
        display: none;
    }
}