.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    border-bottom: 1.5px solid black;
}

.years {
    display: flex;
    gap: 2px;
    padding: 2px 12px;
    background-color: var(--dark-grey);
}

.years > button {
    padding: 2px 4px;
    font-size: 0.8rem;
    background-color: transparent;
    color: whitesmoke;
}

.selected {
    background-color: var(--light-grey) !important;
}

@media screen and (max-width: 800px) {
    .header * {
        font-size: 8px;
    }
}