.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    border-bottom: 1.5px solid black;
}

.header button {
    padding: 6px;
    display: flex;
    align-items: center;
    gap: 4px;
}

.years {
    display: flex;
    gap: 2px;
    padding: 2px 12px;
    background-color: var(--dark-grey);
}

.years > button {
    /* font-size: 0.8rem; */
    background-color: transparent;
    color: whitesmoke;
    padding: 6px;
}

.selected {
    background-color: var(--light-grey) !important;
}

.keyIndicators {
    display: flex;
    gap: 2px;
    align-items: center;
    font-size: 0.6rem;
}

.keyIndicators > span {
    padding: 2px 4px;
    border-radius: 1000px;
    color: var(--text-orange);
    background-color: rgba(59, 59, 59, 0.5);
}

.mobileGroupsSelect {
    flex: 1;
}

.mobileGroupsSelect select {
    background-color: transparent;
    color: var(--text-white);
    font-size: 1rem;
    padding: 4px;
}

.mobileGroupsSelect option {
    background-color: var(--dark-grey);
    color: var(--text-white);
}

.mobileGroupsSelect option:checked {
    background-color: var(--text-orange);
}

@media screen and (max-width: 800px) {
    
    .newAppButton {
        --outerPadding: 6px;

        position: fixed;
        bottom: var(--outerPadding);
        left: 50%;
        transform: translateX(-50%);
        width: calc(100vw - var(--outerPadding));
        display: flex;
        justify-content: center;
        font-weight: 600;
        padding-top: 6px;
        padding-bottom: 6px;
    }
}