.wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-medium);
    font-size: 1.05rem;
}

.wrapper td {
    padding-top: 2px;
    padding-bottom: 2px;
}

.key {
    display: flex;
    gap: var(--spacing-small);
    justify-content: center;
    align-items: center;
}

.dueToday {
    background-color: var(--almost-late-bg);
    padding-left: 4px;
    padding-right: 4px;
}

.almostDue {
    background-color: var(--upcoming-deadline-bg);
    padding-left: 4px;
    padding-right: 4px;
}

.statusInfo {
    padding: 45px;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-medium);
    align-items: center;
    justify-content: center;
}

.statusInfo button {
    background-color: transparent;
    color: var(--text-orange);
    border: none;
}

.illustration {
    width: 6rem;
}

@media screen and (max-width: 800px) {
    .wrapper {
        padding-left: var(--page-padding-left);
        padding-right: var(--page-padding-right);
    }
}