.file {
    font-size: 1rem;
    display: flex;
    gap: 4px;
    align-items: center;
    text-decoration: underline;
}

.bin {
    color: grey;
    cursor: pointer;
}

.bin:hover {
    color: var(--text-orange);
}