.wrapper {
    flex: 1;
    display: flex;
    gap: var(--spacing-small);
    padding: var(--spacing-small);
    border: 1.2px solid var(--border-colour);
    width: fit-content;
    flex-direction: column;
}

.imageWrapper {
    position: relative;
    height: 100%;
    width: fit-content;
}

.image {
    max-height: 100%;
}

.dotsWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.dot {
    position: absolute;
    background-color: var(--text-orange);
    width: 2px;
    height: 2px;
    border-radius: 50%;

    top: 10px;
    left: 10px;
}

.inner {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.list {
    flex: 1;
    overflow-y: auto;
}

.innerWrapper {
    display: flex;
    height: 90%;
    justify-content: center;
    gap: var(--spacing-small);
}

/* @media screen and (max-width: 1200px) {
    .wrapper {
        display: none;
    }
} */

@media screen and (max-width: 800px) {
    .wrapper {
        width: 100%;
        height: 20px;
    }
    .innerWrapper {
        flex-direction: row-reverse;
    }
    .list {
        max-height: 100%;
    }
    .image {
        max-width: 100%;
    }
    .inner {
        display: none;
    }

}