.tab {
    padding: 4px 10px;
    background-color: var(--light-grey);
    clip-path: polygon(0 0, calc(100% - 6px) 0%, 100% 100%, 0% 100%);
    color: var(--text-white);
    border: none;
    font-size: inherit;
}

.tab:hover {
    background-color: #7a7a7a;
}

.tabs {
    border-bottom: 1.4px solid var(--dark-grey);
    display: flex;
    /* flex-direction: column; */
    gap: 2px;
}

.tab.selected {
    background-color: var(--light-grey-selected);
    color: black;
}

@media screen and (max-width: 800px) {
    .tabs {
        /* width: 100%; */
        padding-bottom: 6px;
        gap: 0;
        border: none;
        flex-wrap: wrap;
    }
    .tab {
        /* font-size: 0.8rem; */
        clip-path: none;
        flex: 1;
        border-bottom: 2px solid var(--dark-grey);
        background-color: var(--dark-grey);
        /* text-overflow: ellipsis;
        overflow-x: hidden; */
        color: var(--text-grey);
        padding: 16px 6px;
        font-size: 12px;
    }
    .tab:hover {
        background-color: var(--dark-grey);
    }
    .tab.selected {
        color: unset;
        color: var(--text-white);
        background-color: var(--dark-grey);
        border-bottom: 2px solid var(--text-orange);
        font-weight: 600;
        /* background-color: rgba(255, 165, 0, 0.4); */
    }
}