.upcomingDeadline {
    background-color: var(--upcoming-deadline-bg) !important;
}

.today {
    background-color: var(--almost-late-bg) !important;
}

.passed {
    background-color: var(--deadline-passed-bg);
    padding-left: 4px;
    padding-right: 4px;
}
