.newTask {
    color: var(--text-white);
    /* font-weight: 600; */
    background-color: var(--dark-grey);
    display: flex;
    gap: 6px;
}

.keyIndicators {
    display: flex;
    gap: 2px;
    align-items: center;
    font-size: 0.6rem;
}

.keyIndicators > span {
    padding: 2px 4px;
    border-radius: 1000px;
    color: var(--text-orange);
    background-color: rgba(59, 59, 59, 0.5);
}

@media screen and (max-width: 800px) {
    .keyIndicators {
        display: none;
    }
}