.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    display: flex;
    padding: 24px;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
}

.popup {
    width: 600px;
    max-width: min(800px, 90vw);
    max-height: 60vh;
    max-height: 85vh;
    background-color: var(--bg-colour);
    border: 2px solid var(--border-colour);
    display: flex;
    flex-direction: column;
}

.popup .top {
    display: flex;
    justify-content: space-between;
    padding: 4px;
    background-color: var(--border-colour);
    color: white;
}

.popup .top button {
    background-color: var(--dark-grey);
    display: inline-flex;
    align-items: center;
    color: var(--text-white);
}
.popup .content {
    padding: 0.75rem;
    overflow-y: auto;
}

@media screen and (max-width: 800px) {
    .wrapper {
        padding: 0;
    }
    .popup {
        width: 100vw;
        height: 100vh;
        max-width: unset;
        max-height: unset;
    }
    .popup .top {
        font-size: 1.1rem;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
    }
    .popup .top button {
        aspect-ratio: 1;
        font-size: 1.1rem;
    }
    .popup .content {
        overflow-y: auto;
        padding-bottom: 25vh;
    }
}