.window {
    height: 100%;
    border: 2px solid var(--border-colour);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-small);
    position: sticky;
    top: 10px;
}

.topBar {
    display: flex;
    justify-content: right;
    background-color: var(--border-colour);
    padding: 4px;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.topBar button {
    color: var(--text-white);
    font-weight: 600;
    background-color: transparent;
    width: 2rem;
    height: 2rem;
}

.inner {
    padding: 8px;
}

.newTask {
    color: var(--text-white);
    /* font-weight: 600; */
    background-color: var(--dark-grey);
    display: flex;
    gap: 6px;
}

.popup .top {
    display: flex;
    justify-content: space-between;
    padding: 4px;
    background-color: var(--border-colour);
    color: white;
}

.popup .content {
    padding: 8px;
    overflow-y: auto;
}

.close {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    aspect-ratio: 1;
}

.link:hover {
    text-decoration: underline;
}

.keyIndicators {
    display: flex;
    gap: 2px;
    align-items: center;
    font-size: 0.6rem;
}

.keyIndicators > span {
    padding: 2px 4px;
    border-radius: 1000px;
    background-color: rgba(100, 100, 100, 0.5);
}


@media screen and (max-width: 1024px) {

    .window {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100vw;
        height: 100vh;
        z-index: 500;
        background-color: var(--bg-colour);
    }

    .wrapper {
        padding: 0;
    }

    .topBar {
        font-size: 1.1rem;
    }

    .topBar button {
        width: 24pt;
        aspect-ratio: 1;
    } 
}