
.wrapper {
    width: 100%;
    padding: var(--spacing-small) var(--spacing-medium);
    padding-top: calc(var(--header-height) + 1rem);
    padding-bottom: var(--spacing-large);
}

.applicationsTasksWrapper {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-medium);
    flex: 1;
    max-width: 100%;
}

.asidePage {
    min-width: 500px;
    width: 40%;
}

.dataVisWrapper {
    height: 400px;
    display: flex;
    gap: var(--spacing-medium);
}

.applicationsWrapper {
    flex: 1;
    min-width: 500px;
}

.tasksWrapper {
    width: 400px;
    font-size: 1.05rem;
}

.tablesWrapper {
    display: flex;
    gap: var(--spacing-medium);
    /* height: calc(100vh - 300px); */
}


@media screen and (max-width: 1024px) {
    .tablesWrapper {
        flex-direction: column;
    }
    .tasksWrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: var(--spacing-small);
    }
    .applicationsWrapper td {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

@media screen and (max-width: 800px) {
    .wrapper {
        padding-left: 8px;
        padding-right: 8px;
        padding-bottom: 40vh;
    }
    /* .wrapper td {
        padding-top: 2px;
        padding-bottom: 2px;
    } */
    .applicationsTasksWrapper {
        gap: var(--spacing-large);
    }
    .applicationsWrapper {
        min-width: unset;
        display: flex;
        flex-direction: column;
        gap: var(--spacing-small);
    }
    .applicationsWrapper > h3,
    .tasksWrapper > h3 {
        font-size: 1.5rem;
    }
    .dataVisWrapper {
        height: unset;
        flex-direction: column;
    }
    .tablesWrapper {
        height: unset;
        gap: var(--spacing-large);
    }
    .asidePage {
        min-width: unset;
        width: unset;
    }
    .mobileNewAppBtn {
        font-size: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--text-blue);
        background-color: transparent;
        border: none;
        padding: 0;
    }
    .mobileNewAppBtn:active {
        color: var(--text-white);
    }
}


.loginWrapper {
    padding: 16px;
}