.form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.form button[type=submit] {
    padding: 8px 12px;
    background-color: var(--light-grey);
    color: white;
    font-weight: 500;
}