.wrapper {
    flex: 1;
    padding: var(--spacing-small);
    border: 1.2px solid var(--border-colour);
    width: 200px;
}

@media screen and (max-width: 800px) {
    .wrapper {
        display: none;
    }
}