:root {
    --bg-colour: #000000;

    --dark-grey: #232323;

    --dark-grey-hover: rgba(35, 35, 35, 0.5);

    --light-grey: #606060;
    --light-grey-selected: #c4c4c4;
    
    --accent-colour: #ff532c;

    --danger: rgb(176, 17, 17);

    --text-white: #d6d6d6;
    --text-orange: #d28827;
    --text-blue: #187da8;
    --text-red: red;
    --text-green: green;
    --text-grey: grey;

    --almost-late-bg: rgba(255, 0, 0, 0.471);
    --upcoming-deadline-bg: rgba(253, 159, 82, 0.3);
    --deadline-passed-bg: rgba(93, 93, 93, 0.471);

    --header-height-mobile: 50px;
    --mobile-nav-tabs-height: 60px;

    --page-padding-left: 24px;
    --page-padding-right: 24px;

    --border-colour: #242424;

    --spacing-small: 12px;
    --spacing-medium: 24px;
    --spacing-large: 42px;

    --sans-font: Arial, 'Poppins', sans-serif;
    --mono-font: 'Roboto Mono', monospace;

    --header-height: 45px;




    /* New styling 14/01/2025 */
    --bg-colour: #121212;
    --dark-grey: #2b2b2b;


}

body {
    height: 100vh;
    /* overflow-x: scroll; */
}

header {
    height: var(--header-height);
    padding: 2px var(--spacing-small);
    background-color: var(--dark-grey);
}

header button {
    background-color: var(--dark-grey);
    color: var(--text-white);
    display: inline-flex;
    align-items: center;
}

main {
    min-height: calc(100vh - var(--header-height));
}

table {
    width: 100%;
    border-spacing: 0;
}

table th {
    background-color: var(--dark-grey);
    text-align: left;
    color: var(--text-white);
}



::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #0000; 
}

::-webkit-scrollbar-thumb {
    background: #262626; 
}

::-webkit-scrollbar-thumb:hover {
    background: #1c1c1c; 
}









/* Form Styles */

.form input,
.form select,
.form textarea {
    background-color: rgb(232, 232, 232);
    font-size: 1rem;
    font-family: inherit;
    padding: 4px;
    border: none;
    max-width: 100%;
    padding: 6px;
    font-size: 1.2rem;
}

.form input[type=text] {
    width: 400px;
}

.form textarea {
    resize: vertical;
    min-height: 6rem;
    width: 100%;
}

input:focus,
textarea:focus,
select:focus {
    outline: 2px solid var(--text-orange);
}



.windows-only {
    display: none; /* Hidden by default */
}

.windows-only.is-windows {
    display: block; /* Visible only when the 'is-windows' class is added */
}

.m-submit-btn {
    /* margin-top: var(--spacing-large); */
    background-color: var(--text-orange);
    color: var(--bg-colour);
    font-weight: 600;
    font-size: 1.1rem;
    padding: 8px 16px;
    text-align: center;
    border: none;
}

.m-submit-btn.m-submit-btn-grey {
    background-color: var(--light-grey);
    color: var(--text-white);
}

.m-submit-btn.m-submit-btn-red {
    background-color: var(--danger);
    color: var(--text-white);
}


.m-submit-btn:hover {
    background-color: #a56c20;
}

.m-submit-btn:active {
    color: var(--text-white);
    background-color: #cc872d;
}

.m-submit-btn.m-submit-btn-grey:hover {
    background-color: #4b4b4b;
}

.m-submit-btn.m-submit-btn.m-submit-btn-grey:active {
    background-color: #676767;
}

.m-submit-btn.m-submit-btn-red:hover {
    background-color: rgb(131, 14, 14);
}

.m-submit-btn.m-submit-btn.m-submit-btn-red:active {
    background-color: rgb(196, 22, 22);
}


@media screen and (max-width: 800px) {
    :root {
        --page-padding-left: 12px;
        --page-padding-right: 12px;
    }
    .windows-only {
        display: none !important;
    }

    .form input,
    .form select,
    .form textarea {
        margin-top: 6px;
        width: 100%;
    }

    button {
        border: none;
    }

    .m-submit-btn {
        margin-top: var(--spacing-large);
        font-size: 1.2rem;
        padding: 16px;
        width: 100%;
    }
}