:root {
    --bg-colour: #000000;

    --dark-grey: #232323;

    --dark-grey-hover: rgba(35, 35, 35, 0.5);

    --light-grey: #606060;
    --light-grey-selected: #c4c4c4;
    
    --accent-colour: #ff532c;

    --danger: rgb(176, 17, 17);

    --text-white: #d6d6d6;
    --text-orange: #d28827;
    --text-blue: #187da8;
    --text-red: red;
    --text-green: green;

    --late-bg: rgba(255, 0, 0, 0.471);
    --almost-late-bg: rgba(253, 159, 82, 0.481);
    --deadline-passed-bg: rgba(93, 93, 93, 0.471);

    --page-padding-left: 14%;
    --page-padding-right: 14%;

    --border-colour: #242424;

    --spacing-small: 12px;
    --spacing-medium: 24px;
    --spacing-large: 42px;

    --sans-font: Arial, 'Poppins', sans-serif;
    --mono-font: 'Roboto Mono', monospace;

    --header-height: 40px;

}

body {
    height: 100vh;
    /* overflow-x: scroll; */
}

header {
    height: var(--header-height);
    padding: 2px var(--spacing-small);
    background-color: var(--dark-grey);
}

header button {
    background-color: var(--dark-grey);
    color: var(--text-white);
    display: inline-flex;
    align-items: center;
}

main {
    min-height: calc(100vh - var(--header-height));
}

table {
    width: 100%;
    border-spacing: 0;
}

table th {
    background-color: var(--dark-grey);
    text-align: left;
    color: var(--text-white);
}




::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #0000; 
}

::-webkit-scrollbar-thumb {
    background: #262626; 
}

::-webkit-scrollbar-thumb:hover {
    background: #1c1c1c; 
}









/* Form Styles */

.form input,
.form select,
.form textarea {
    background-color: rgb(232, 232, 232);
    font-size: 1rem;
    font-family: inherit;
    padding: 4px;
    border: none;
    max-width: 100%;
}

.form input[type=text] {
    width: 400px;
}

.form textarea {
    resize: vertical;
    min-height: 6rem;
    width: 100%;
}

input:focus,
textarea:focus,
select:focus {
    outline: 2px solid var(--text-orange);
}



.windows-only {
    display: none; /* Hidden by default */
}

.windows-only.is-windows {
    display: block; /* Visible only when the 'is-windows' class is added */
}

@media screen and (max-width: 800px) {
    .windows-only {
        display: none !important;
    }
}