.mono {
    font-family: var(--mono-font);
}

.accent {
    color: var(--accent-colour);
}

.underline {
    text-decoration: underline;
}

.text-orange {
    color: var(--text-orange);
}

.text-white {
    color: var(--text-white);
}

.text-red {
    color: var(--text-red);
}

.text-blue {
    color: var(--text-blue);
}

.text-green {
    color: var(--text-green);
}

.text-grey {
    color: grey;
}

.header-row {
    background-color: var(--primary-colour);
}


.icon {
    width: 1em;
    height: 1em;
    object-fit: contain;
    display: inline;
}

.inline-flex {
    display: inline-flex;
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.flex-col,
.col {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.gap-s {
    gap: var(--spacing-small);
}

.justify-center {
    justify-content: center;
}

.justify-right {
    justify-content: right;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.gap-m {
    gap: var(--spacing-medium);
}

.border-radius {
    border-radius: var(--border-radius);
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.button {
    padding: 4px;
    border: 1px solid var(--light-grey);
    background-color: var(--dark-grey);
    color: var(--text-white);
}





.window {
    padding: var(--spacing-medium);
}

.cursor-pointer {
    cursor: pointer;
}

.cal-chevron {
    fill: var(--text-blue);
}

.cal-chevron:hover {
    fill: var(--text-white);
}

.cal-today {
    color: var(--text-blue);
}



.hover-text-orange:hover {
    color: var(--text-orange);
}






.m-show-flex,
.m-show-block {
    display: none !important;
}

/* Tablet responsive styles */
@media screen and (max-width: 1024px) {
    .t-hide {
        display: none !important;
    }
}


/* Mobile responsive styles */
@media screen and (max-width: 800px) {
    .m-hide {
        display: none !important;
    }
    .m-show-flex {
        display: flex !important;
    }
    .m-show-block {
        display: block !important;
    }
    .button {
        width: unset;
    }
    .m-flex-col,
    .m-col {
        flex-direction: column;
    }
}