.wrapper {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 1rem;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media screen and (max-width: 800px) {
    .wrapper {
        padding: 0;
    }
}